#hero {
  background-image: url(/assets/images/lego.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 75% 33%;
  // background-repeat: no-repeat;
  @media (max-width: 1024px) {
    background-position: 95% 33%;
    background-size: 200px;
  }
  @media (max-width: 480px) {
    background-position: 90% 85%;
    background-size: 140px;
  }
}

.filters {
  @extend .navbar-custom
}

.filters {
  flex-direction: row;
  // overflow: scroll;
  .navbar-nav {
    flex-direction: row;
    .filter {
      @extend .nav-link
    }
    .filter {
      padding: $nav-link-padding;
      padding-top: 12px;
      white-space: nowrap;
      @include hover-focus {
        color: $navbar-light-hover-color;
      }
    }
  }
  // @media (max-width: 550px) {
  //   padding-right: 40px;
  //   &:after {
  //     content: ">";
  //     color: $brand-primary;
  //     text-align: right;
  //     line-height: 50px;
  //     position: -webkit-sticky; /* for safari */
  //     position: sticky;
  //     width: 50px;
  //     top: 0;
  //     right: 0;
  //     bottom: 0;
  //     padding-right: 10px;
  //     display: table;
  //     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
  //     background: -moz-linear-gradient(left, rgba(241,244,247,0) 0%, rgba(241,244,247,1) 50%, rgba(241,244,247,1) 100%); /* FF3.6-15 */
  //     background: -webkit-linear-gradient(left, rgba(241,244,247,0) 0%, rgba(241,244,247,1) 50%, rgba(241,244,247,1) 100%); /* Chrome10-25,Safari5.1-6 */
  //     background: linear-gradient(to right, rgba(241,244,247,0) 0%, rgba(241,244,247,1) 50%, rgba(241,244,247,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  //     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
  //   }
  //   &:before {
  //     content: "<";
  //     color: $brand-primary;
  //     text-align: left;
  //     line-height: 50px;
  //     position: -webkit-sticky; /* for safari */
  //     position: sticky;
  //     width: 50px;
  //     top: 0;
  //     left: 0;
  //     bottom: 0;
  //     padding-left: 10px;
  //     display: table;
  //     z-index: 10;
  //     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
  //     background: -moz-linear-gradient(left, rgba(241,244,247,1) 0%, rgba(241,244,247,1) 50%, rgba(241,244,247,0) 100%); /* FF3.6-15 */
  //     background: -webkit-linear-gradient(left, rgba(241,244,247,1) 0%, rgba(241,244,247,1) 50%,rgba(241,244,247,0) 100%); /* Chrome10-25,Safari5.1-6 */
  //     background: linear-gradient(to right, rgba(241,244,247,1) 0%, rgba(241,244,247,1) 50%,rgba(241,244,247,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  //     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
  //   }
  //   &:not(.show-left-arrow) {
  //     &:before {
  //       display: none;
  //     }
  //   }
  //   &:not(.show-right-arrow) {
  //     &:after {
  //       display: none;
  //     }
  //   }
  //}
}

.works {
  padding: 2rem 0;
  .work-card {
    position: relative;
    display: flex;
    padding-top: 60%;
    background: $brand-inverse;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: solid 2px $gray-lightest;
    transition: .2s;
    .overlay {
      opacity: 0;
      color: $gray-dark;
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      background: rgba($gray-lighter, .85);
      transition: .2s;
      display: flex;
      align-items: center;
      .text-center {
        padding: 0 15px;
      }
    }
    &:hover, &:focus {
      border: 2px solid $brand-primary;
      .overlay {
        opacity: 1;
      }
    }
    @include media-breakpoint-down(sm) {
      .overlay {
        display: none;
      }
    }
    // @include media-breakpoint-down(sm) {
    //   .overlay {
    //     opacity: 1;
    //     top: 75%;
    //     text-align: left;
    //     left: -2px; bottom: -2px; right: -2px;
    //     div {
    //       height: 100%;
    //       display: flex;
    //       align-items: center;
    //       h3 {
    //         float: left;
    //         margin: 0;
    //       }
    //       &:after {
    //         content: ">";
    //         font-size: 1.5rem;
    //         position: absolute;
    //         right: 15px;
    //         top: 48%;
    //         transform: translateY(-50%);
    //         color: $brand-primary;
    //       }
    //     }
    //     .cta, p {
    //       display: none;
    //     }
    //   }
    // }
  }
}


.cta {
  font-family: $font-family-serif;
  font-style: italic;
}

#contact {
  //padding: 2rem 0;
  p {
    font-family: $font-family-serif;
    font-size: 1.5rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 4rem;
    @include media-breakpoint-down(sm) {
      font-size: 1.1rem;
      line-height: 3.5rem;
      margin: 0;
    }
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $text-muted;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $text-muted;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $text-muted;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $text-muted;
  }

  input:not([type=submit]), select {
    border: 0;
    border-bottom: 2px solid $gray-light;
    transition: .2s;
    border-radius: 0;
    background: none;
    font-family: $font-family-serif;
    color: $gray-dark;
    line-height: 1.5rem;
    &:focus {
      border-color: $brand-primary;
      outline: none;
    }
    @include media-breakpoint-down(sm) {
      line-height: 1.1rem;
    }
    text-transform: lowercase;
  }
  input[name=name] {
    width: calc(35% - 50px);
    @include media-breakpoint-down(sm) {
      width: calc(100% - 120px);
    }
  }
  .select-wrapper.reason {
    width: calc(50% - 100px);
    @include media-breakpoint-down(sm) {
      width: calc(100% - 70px);
    }
  }
  .select-wrapper.method {
    width: 100px;
    @include media-breakpoint-down(sm) {
      width: 90px;
    }
  }
  input[name=contact] {
    width: calc(70% - 185px);
    @include media-breakpoint-down(sm) {
      width: calc(100% - 30px);
    }
  }
  .select-wrapper {
    position: relative;
    display: inline-block;
    select {
      width: 100%;
      padding: 0 5px;
    }
    &:after {
      content: "Ë…";
      color: $brand-primary;
      font-weight: bold;
      font-size: 1rem;
      position: absolute;
      right: 5px;
      top: .1rem;
    }
  }

  .d-flex {
    align-items: center;
  }

  #messages {
    display: inline-block;
    width: calc(100% - 130px);
    margin-left: 10px;
  }
}

#map {
  background: #cccccc;
  position: relative;
  img {
    max-width: 100%;
  }
  span {
    position: absolute;
    font-size: 1.2rem;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    @media (max-width: 880px) {
      left: 440px;
    }
    @include media-breakpoint-down(sm) {
      left: 50%;
      top: 15vw;
      transform: translateX(-50%);
    }
  }
}
